<h2 mat-dialog-title>Meus Treinos</h2>
<mat-dialog-content class="mat-typography" style="width: 900px;">
    <div class="mat-elevation-z4">
        <table mat-table [dataSource]="treinos">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>Id</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
          </ng-container>
      
          <ng-container matColumnDef="nome">
            <th mat-header-cell *matHeaderCellDef>Nome</th>
            <td mat-cell *matCellDef="let row">{{row.nome}}</td>
          </ng-container>

          <ng-container matColumnDef="objetivo">
            <th mat-header-cell *matHeaderCellDef>Objetivo</th>
            <td mat-cell *matCellDef="let row">{{row.objetivos[0].nome }}</td>
          </ng-container>

          <ng-container matColumnDef="intensidade">
            <th mat-header-cell *matHeaderCellDef>Intensidade</th>
            <td mat-cell *matCellDef="let row">{{row.intensidades[0].nome }}</td>
          </ng-container>
      
          <ng-container matColumnDef="segunda">
            <th mat-header-cell *matHeaderCellDef>Segunda</th>
            <td mat-cell *matCellDef="let row">{{ row.selected.diasSemana.segunda }}</td>
          </ng-container>

          <ng-container matColumnDef="terca">
            <th mat-header-cell *matHeaderCellDef>Terça</th>
            <td mat-cell *matCellDef="let row">{{ row.selected.diasSemana.terca }}</td>
          </ng-container>

          <ng-container matColumnDef="quarta">
            <th mat-header-cell *matHeaderCellDef>Quarta</th>
            <td mat-cell *matCellDef="let row">{{ row.selected.diasSemana.quarta }}</td>
          </ng-container>

          <ng-container matColumnDef="quinta">
            <th mat-header-cell *matHeaderCellDef>Quinta</th>
            <td mat-cell *matCellDef="let row">{{ row.selected.diasSemana.quinta }}</td>
          </ng-container>

          <ng-container matColumnDef="sexta">
            <th mat-header-cell *matHeaderCellDef>Sexta</th>
            <td mat-cell *matCellDef="let row">{{ row.selected.diasSemana.sexta }}</td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="text-center">Ações</th>
            <td mat-cell *matCellDef="let row" class="text-center d-flex">
              <a routerLink="/treinos-criados/update/{{ row.id }}" class="edit" mat-dialog-close>
                <i class="material-icons">
                  edit
                </i>
              </a>
              <a routerLink="/treinos-criados/delete/{{ row.id }}" class="delete" mat-dialog-close>
                <i class="material-icons">
                  delete
                </i>
              </a>
            </td>
          </ng-container>
      
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Voltar</button>
</mat-dialog-actions>
