<div class="container">
    <div>
        <h3 class="section-title">{{ strings?.Sobre.titulo }}</h3>
        <h3 class="section-title">{{ strings?.Sobre.subtitulo }}</h3>
    </div>
    <div class="cards">
        <mat-card class="card" style="margin-right: 25px;">
            <img mat-card-image src="../../../../assets/card-left.png" alt="Imagem de halter">
            <mat-card-content>
                <h4>{{ strings?.Sobre.cardLeft.titulo }}</h4>
                <p>
                    {{ strings?.Sobre.cardLeft.subtitulo }}
                </p>
            </mat-card-content>
        </mat-card>

        <mat-card class="card">
            <mat-card-header>
                <mat-card-content>
                    <h4>{{ strings?.Sobre.cardRight.titulo }}</h4>
                    <p>
                        {{ strings?.Sobre.cardRight.subtitulo }}
                    </p>
                </mat-card-content>
            </mat-card-header>
            <img mat-card-image src="../../../../assets/card-right.png" alt="Photo of a Shiba Inu">
        </mat-card>
    </div>
</div>