<div class="container">
    <p>COMPONENTE HOME</p>
    <h1 class="title-imc">Atividade 08 - Ir para a página<strong> <a routerLink="/imc"> Tabela IMC</a> </strong></h1>

    <h2>Itens atendidos da atividade</h2>
    <ul>
        <li>Instalar e usar pelo menos um componente de algum framework CSS (Bootstrap, Materialize ou outro).</li>
        <li>Criar o layout da aplicação com componentes, ou seja, o cabeçalho e rodapé precisam ser componentes.</li>
        <li>Usar pelo menos dois tipos de data-binding (Interpolation, Property Binding, Event Binding e Two Way Data Binding).</li>
    </ul>
</div>