<div class="container-all">

    <div class="container-resultados">
        <h3 style="text-align: center;"> 
            {{ strings?.HomeResultados?.resultados }}</h3>
        <div class="divider"></div>
        <ng-container *ngIf="imcToParent">
            <app-resultados  
            [imcFromParent]="imcToParent"
            [intensidadeFromParent]="intensidadeToParent"
            [avaliacaoTreinoFromParent]="avaliacaoTreinoToParent"
            [avaliacaoEstrelasFromParent]="avaliacaoEstrelasToParent"
            [objetivoFromParent]="objetivoToParent"
        ></app-resultados>
          </ng-container>
       
    </div>
    <div class="container-treinos">
        <h3 style="text-align: center;">{{ strings?.Treinos?.meusTreinos }}</h3>

        <div class="content-treinos">
            <h1 class="title-imc">
                CONTAINER TREINOS <br>
                Atividade 12 - Cadastro com requisições assíncronas </h1>
        
            <h2>Itens atendidos da atividade</h2>
            <ul>
                <li>Fazer requisições a API com tratamento da resposta com Promises (pode usar Fetch API, async/await ou lastValueFrom do RXJS).</li>
                <li>Cadastrar uma entidade no JSON Server</li>
                <li>Criação da opção de "Classificação"</li>
            </ul>
        </div>
    </div>
</div>