<div class="container-all">

    <div class="container-resultados">
        <h3 style="text-align: center;"> {{ strings?.HomeResultados.resultados }}</h3>
        <div class="divider"></div>
        <div class="content-resultados">
            <span><h4>{{ strings?.HomeResultados.imc }}:  </h4></span>
        </div>
    </div>
    <div class="container-treinos">
        <h3 style="text-align: center;">{{ strings?.Treinos.meusTreinos }}</h3>
        <div class="content-treinos">
            <h1 class="title-imc">
                CONTAINER TREINOS <br>
                Atividade 09 - Navegar entre as páginas </h1>
        
            <h2>Itens atendidos da atividade</h2>
            <ul>
                <li>Uso de rotas e navegação entre as páginas .</li>
            </ul>
        </div>
    </div>
</div>