<mat-toolbar class="header mat-elevation-z4">
    <span>
        <div class="text-center section-logo">
            <a class="nav-item" routerLink="/"> {{ strings?.Navbar.logo }} </a>
        </div>
    </span>
   <div class="nav-links-right">
       <span>
           <div class="text-center section-logo p-20">
               <a class="fw-200 nav-item"> {{ strings?.Navbar.treinos }} </a>
           </div>
       </span>
       <span>
           <div class="text-center section-logo p-20">
               <a class="fw-200 nav-item" routerLink="/imc"> {{ strings?.Navbar.tabelaIMC }} </a>
           </div>
       </span>
       <span>
           <div class="text-center section-logo p-20">
               <a class="fw-200 nav-item" > {{ strings?.Navbar.sobre }} </a>
           </div>
       </span>
   </div>
</mat-toolbar>