<div class="content-resultados">
    <span style="display: flex;height: 30px;margin-bottom: 10px;"><a (click)="openDialog()" class="link-item">{{
            imcFromParent }}: {{ imcResultado?.imc }}
            <i class="material-icons" *ngIf="imcResultado">
                double_arrow
            </i>
        </a></span>
    <span *ngIf="intensidade">
        <h4>{{ intensidadeFromParent }}: {{ intensidade[0].nome }}</h4>
    </span>
    <span *ngIf="objetivo">
        <h4>{{ objetivoFromParent }}: {{ objetivo[0].nome }}</h4>
    </span>
    <span>
        <h4>{{ avaliacaoEstrelasFromParent }}: </h4>
    </span>
</div>